.AihePalkkiContainer {
    display:flex;
    justify-content: space-between;
    height: 53px;
    font-weight: 700;
    width:60%;

    color:black;
    align-items:center;
    margin-right: auto;
    margin-left: auto;
    font-size: 16;

}
.tausta {
    background-color: rgb(255, 255, 255);
}

